[mysqld]

# ID Слейва, удобно выбирать следующим числом после Мастера
server-id = 2

# Путь к bin логу на Мастере
log_bin = /var/lib/mysql/mybinlog

# База данных для репликации
binlog_do_db = mydatabase
