[mysqld]
# выбираем ID сервера, произвольное число, лучше начинать с 1
server-id = 1

# путь к бинарному логу
log_bin=/var/lib/mysql/mybinlog

# название Вашей базы данных, которая будет реплицироваться
binlog_do_db = mydatabase
